.card-width {
  width: 32%;
}
.title-block {
  background-color: #80808080;
  color: darkblue;
}
.no-content {
  color: #e51212;
}
.no-news {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
