<nav class="sidebar-nav">
  <div class="card-body pl-0 pt-0">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item" *ngFor="let section of sections">
        <span
          class="nav-link link"
          [class.active]="activeMenu === section.section"
          (click)="selectSection(section)"
          style="cursor: pointer"
          >{{ section.display_name }}
          <span class="float-right"><i class="fas fa-chevron-right"></i></span>
        </span>
      </li>
    </ul>
  </div>
</nav>
