/* You can add global styles to this file, and also import other style files */
.container-fluid {
  height: 100vh;
  background: url("https://thumbs.dreamstime.com/b/conceptual-hand-writing-showing-news-portal-business-photo-text-designed-website-brings-information-diverse-sources-174820826.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
